{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <!-- <script src="/static/Test_app/scripts/main.js"></script> -->
    <title>Calender</title>
    <link rel="stylesheet" href="/static/Test_app/Styles/table.css?<?php echo time(); ?>" type="text/css">
</head>


<body>
    <header>
        <nav><a href="/Test_app">Calender</a></nav>
    </header>
    <div>
        <p> {{ time }} </p>
        <form action="/Test_app/" method="post">
            {% csrf_token %}
            <div class="container">
                <button
                    class="button button1" type="submit" value="{{first_date_str}} upp" name="direction">Upp
                </button>

                <button
                    class="button button2" type="submit" value="{{first_date_str}} ner"  name="direction">Ner
                </button>
            </div>
        </form>
    </div>


    <section>
        <table>
          <tr>
            {% for day in days %}
                <th>{{day}}</th>
            {% endfor %}
          </tr>
        {% for week in matrix %}
          <tr>
            {% for date in week %}
                {% if date == today %}
                    <td  class = "markday" > {{date.2}}</td>
                {% elif date.1 == today.1 %}
                    <td  class = "markmonth" > {{date.2}}</td>
                {% else %}
                    <td> {{date.2}}</td>
                {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}

        </table>
    </section>

</body>


</html>
