.u-section-1 .u-image-1 {
  width: 110px;
  height: 110px;
  margin: 41px auto 0 630px;
}

.u-section-1 .u-image-2 {
  width: 110px;
  height: 110px;
  margin: -110px auto 0 400px;
}


.u-image,
.u-background-effect-image,
.u-video-poster {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* CENTRERAR TABELL?? */
.u-sheet {
  position: relative;
  margin: 0 auto;
}

/* CENTRERAR TABELL */

@media (min-width: 1200px) {
  .u-xl-mode .u-sheet {
    width: var(--theme-sheet-width-xl) !important;
  }
}

.u-table table {
  width: 100%; /* Bredd på kollumnerna */
  border-collapse: collapse; /* om bortagen mellanrum mellan gränser */
  text-align: middle;
}

.u-table th,        /* höjden av veckoraden sjunker */
.u-table td {
  padding: 10px;
  font-weight: inherit;
}


/* Ritar linjerna i tabellen */
[class*="u-border-"],
.u-link[class*="u-border-"] {
  border-style: solid;
}

/* avgör tjocklek av linjerna typ */
.u-border-1,
a.u-button-style.u-border-1 {
  border-width: 5px;
}

/*textstil */
.u-body {
  font-family: 'Open Sans',sans-serif;
}

/*färgen i veckoraden */
.u-black,
.u-table-alt-black tr:nth-child(even) {
  color: #ffffff;
  background-color: #000000;
}

/*linjerna i veckoraden */
.u-border-black,
.u-separator-black:after {
  border-color: #000000;
  stroke: #000000;
}

/*gör linjerna nedan veckoraden gråa */
.u-border-grey-30,
.u-separator-grey-30:after {
  border-color: #b3b3b3;
}

.u-border-red-30
.u-separator-red-30,:after {
  border-color: #FF0000;
}

.button{
    height: 100px;
    right: 1000px;
    overflow: hidden;
    border: none;
    outline: none;
}



.u-body
{
--theme-sheet-width-xl: 1140px;
--theme-sheet-width-lg: 940px;
--theme-sheet-width-md: 720px;
--theme-sheet-width-sm: 540px;
--theme-sheet-width-xs: 340px;
}
